*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/navroute-annotations/build/
/navroute-annotations/build/classes/kotlin/main/
/navroute-deeplink/build/
/navroute-di-koin/build/
/navroute-ksp/build/
/navroute-ksp/build/classes/kotlin/main/
/navroute-runtime/build/
/navroute-ui/build/
/samples/app-koin/build/
/samples/feature/hilt/api/build/
/samples/feature/hilt/impl/build/
/samples/feature/koin/api/build/
/samples/feature/koin/impl/build/
/.idea/
/samples/feature/hilt/detail/api/build/
/samples/feature/hilt/main/api/build/
/samples/feature/hilt/detail/impl/build/
/samples/feature/hilt/main/impl/build/
/samples/feature/koin/detail/api/build/
/samples/feature/koin/detail/impl/build/
/samples/feature/koin/main/impl/build/
/samples/feature/koin/main/api/build/
/samples/navigation/build/
/.idea/inspectionProfiles/
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml